services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
      - MONGODB_URL=mongodb://mongo:27017/
    depends_on:
      - mongo
    command: pnpm dev

  mongo:
    image: mongo:8.2
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example

volumes:
  node_modules:
